# Hospital Bed Utilization

In [1]:
#import requests
#from pytrends.request import TrendReq
import pandas as pd
import numpy as np
#from datetime import datelast_iot_date_plus_week
#from datetime import timedelta
from create_data import create_data
from update_data import update_data

## Data

### Google Trends Data
[Pytrends API Documentation](https://pypi.org/project/pytrends/)

### Hospital and COVID Data

### HealthData.gov COVID-19 Reported Patient Impact and Hospital Capacity by Facility
[Hospital Capacity Data](https://healthdata.gov/Hospital/COVID-19-Reported-Patient-Impact-and-Hospital-Capa/anag-cw7u)

### CDC COVID-19 Case Surveillance Public Use Data with Geography
[COVID Case Surveillance Data](https://data.cdc.gov/Case-Surveillance/COVID-19-Case-Surveillance-Public-Use-Data-with-Ge/n8mc-b4w4)

[HealthData.gov API docs](https://dev.socrata.com/foundry/healthdata.gov/6xf2-c3ie)

## Create Data Sets
### If data sets have already been created, update them, or move on to exploration.

In [3]:
#TODO: Delete following 2 lines when finished
#%autoreload
#import create_data

# Create data
dfs_list = create_data()
# Save df's separately
reg_int_df = dfs_list[0]
iot_df = dfs_list[1]
hospitals_df = dfs_list[2]
covid_df = dfs_list[3]

UsageError: Line magic function `%autoreload` not found.

In [7]:
# TODO: Create alert that an update should be performed

## Update Data
### If the data have been created already, they can be updated below.

In [7]:
#TODO: Delete following lines when finished
%reload_ext autoreload
%autoreload
from update_data import update_data

# Create data
updated_dfs_list = update_data()

Data are already up to date.

## Read Data From CSV's

In [2]:
# Load data from csv's
reg_int_df = pd.read_csv('assets/reg_interest.csv')
iot_df = pd.read_csv('assets/iot.csv')
covid_df = pd.read_csv('assets/covid.csv')
hospitals_df = pd.read_csv('assets/hospitals.csv')

In [17]:
#NOTE: Save dataframes as prior states from which present missing values can be fille?

## Explore Data
### Hospital Data

In [167]:
hospitals_df.head(1)

,Unnamed: 0,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,...,previous_day_admission_adult_covid_suspected_7_day_coverage,previous_day_admission_pediatric_covid_suspected_7_day_coverage,previous_week_personnel_covid_vaccinated_doses_administered_7_day,total_personnel_covid_vaccinated_doses_none_7_day,total_personnel_covid_vaccinated_doses_one_7_day,total_personnel_covid_vaccinated_doses_all_7_day,previous_week_patients_covid_vaccinated_doses_one_7_day,previous_week_patients_covid_vaccinated_doses_all_7_day,is_corrected,:@computed_region_pqdx_y6mm
0,0,280023,2021-09-03T00:00:00.000,NE,280023,CHI HEALTH ST FRANCIS,2620 WEST FAIDLEY AVE,GRAND ISLAND,68803,Short Term,...,7,7,0.0,0.0,0.0,0.0,0.0,0.0,False,28.0

In [26]:
# Save the 108 column names in df: can mark names to be used in other data sets
# later if necessary
hosp_cols = pd.DataFrame(hospitals_df.columns)
datafile_path = 'assets/hospital_df_columns.csv'
hosp_cols.to_csv(datafile_path)

### There are 107 columns in the hospital data. We wont be using all of it. But, rather than dropping so many of the columns, let's subset it to create smaller data sets. This way, we will have the ability to use this data later.

### Let's start by focusing on the bed data which will be a subset of the hospitals_df.
### Bed Data

In [134]:
# Columns to keep
bed_cols = ["hospital_pk",
            "collection_week",
            "state",
            "ccn",
            "hospital_name",
            "address",
            "city",
            "zip",
            "hospital_subtype",
            "fips_code",
            "is_metro_micro",
            "total_beds_7_day_avg",
            "all_adult_hospital_beds_7_day_avg",
            "all_adult_hospital_inpatient_beds_7_day_avg",
            "inpatient_beds_used_7_day_avg",
            "all_adult_hospital_inpatient_bed_occupied_7_day_avg"]

# Subset the hospitals_df
beds_df = hospitals_df.loc[:, bed_cols]

# Check data types, dimensions# Check data types, dimensions
beds_df.info()
beds_df = hospitals_df[bed_cols]
beds_df.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   hospital_pk                                          1000 non-null   object
 1   collection_week                                      1000 non-null   object
 2   state                                                1000 non-null   object
 3   ccn                                                  997 non-null    object
 4   hospital_name                                        1000 non-null   object
 5   address                                              999 non-null    object
 6   city                                                 999 non-null    object
 7   zip                                                  1000 non-null   int64
 8   hospital_subtype                                     1000 non-null   object
 9   fips_code                                            999 non-null    float64
 10  is_metro_micro                                       1000 non-null   bool
 11  total_beds_7_day_avg                                 1000 non-null   float64
 12  all_adult_hospital_beds_7_day_avg                    1000 non-null   float64
 13  all_adult_hospital_inpatient_beds_7_day_avg          1000 non-null   float64
 14  inpatient_beds_used_7_day_avg                        1000 non-null   float64
 15  all_adult_hospital_inpatient_bed_occupied_7_day_avg  1000 non-null   float64
dtypes: bool(1), float64(6), int64(1), object(8)
memory usage: 118.3+ KB

,hospital_pk,collection_week,state,ccn,hospital_name,address,city,zip,hospital_subtype,fips_code,is_metro_micro,total_beds_7_day_avg,all_adult_hospital_beds_7_day_avg,all_adult_hospital_inpatient_beds_7_day_avg,inpatient_beds_used_7_day_avg,all_adult_hospital_inpatient_bed_occupied_7_day_avg
0,280023,2021-09-03T00:00:00.000,NE,280023,CHI HEALTH ST FRANCIS,2620 WEST FAIDLEY AVE,GRAND ISLAND,68803,Short Term,31079.0,True,92.0,84.0,80.0,64.3,63.4

In [ ]:
#TODO: I need to figure out how I'm going to handle the negtive and missing values.

In [135]:
# Descriptive statistics
beds_df.describe()

,zip,fips_code,total_beds_7_day_avg,all_adult_hospital_beds_7_day_avg,all_adult_hospital_inpatient_beds_7_day_avg,inpatient_beds_used_7_day_avg,all_adult_hospital_inpatient_bed_occupied_7_day_avg
count,1000.000000,999.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,53326.554000,30244.963964,-1826.364400,-1844.552800,-2867.365300,-62885.044000,-63895.464400
std,27021.650725,16116.623627,44707.236758,44706.306053,54724.895766,243114.149438,244902.534405
min,613.000000,1011.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000,-999999.000000
25%,32380.750000,17201.000000,29.925000,25.000000,23.075000,11.900000,11.300000
50%,54630.500000,30029.000000,79.350000,70.000000,58.000000,43.650000,40.500000
75%,76033.000000,42131.000000,244.250000,222.000000,181.750000,152.700000,143.950000
max,99615.000000,72141.000000,1574.000000,1376.000000,1306.000000,1321.100000,1189.900000

### Above, we can see very large negative values in the data. There shouldn't be any negative values in the data at all. Let's take a closer look to figure out why it is there. We might have to look at the data description on the HealthData.gov website. Or, we might have to contact someone there to gain some clarity.

In [164]:
start = int(beds_df.columns.get_loc('total_beds_7_day_avg'))
end = len(beds_df.columns)
col_r = range(start, end)

beds_df[beds_df.iloc[:, r]  < 0].count()

hospital_pk                                            64
collection_week                                        64
state                                                  64
ccn                                                    63
hospital_name                                          64
address                                                64
city                                                   64
zip                                                    64
hospital_subtype                                       64
fips_code                                              64
is_metro_micro                                         64
total_beds_7_day_avg                                   64
all_adult_hospital_beds_7_day_avg                      64
all_adult_hospital_inpatient_beds_7_day_avg            64
inpatient_beds_used_7_day_avg                          64
all_adult_hospital_inpatient_bed_occupied_7_day_avg    64
dtype: int64

### It looks like there are 64 rows with negative values.

### COVID-19 Data

In [13]:
# Check data types, dimensions
covid_df.info()# Check data types, dimensions
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   case_month                1000 non-null   object
 1   res_state                 1000 non-null   object
 2   state_fips_code           1000 non-null   int64
 3   res_county                1000 non-null   object
 4   county_fips_code          1000 non-null   object
 5   age_group                 1000 non-null   object
 6   sex                       1000 non-null   object
 7   race                      1000 non-null   object
 8   ethnicity                 1000 non-null   object
 9   case_positive_specimen    348 non-null    float64
 10  process                   1000 non-null   object
 11  exposure_yn               1000 non-null   object
 12  current_status            1000 non-null   object
 13  symptom_status            1000 non-null   object
 14  hosp_yn                   1000 non-null   object
 15  icu_yn                    1000 non-null   object
 16  death_yn                  1000 non-null   object
 17  case_onset_interval       484 non-null    float64
 18  underlying_conditions_yn  60 non-null     object
dtypes: float64(2), int64(1), object(16)
memory usage: 148.6+ KB

In [11]:
# Check for missing values
covid_df.isna().sum().sum()

2108

In [15]:
# Get descriptive statistics
covid_df.describe()

       state_fips_code  case_positive_specimen  case_onset_interval
count      1000.000000              348.000000           484.000000
mean         29.584000                0.255747             0.099174
std          15.242483                2.589181             1.425325
min           1.000000              -27.000000             0.000000
25%          18.000000                0.000000             0.000000
50%          29.000000                0.000000             0.000000
75%          42.000000                0.000000             0.000000
max          55.000000               31.000000            24.000000